# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [1]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

A CSV file is a text file where the data is seperated by commas.

### Load the data set "cars_data" through Pandas.

In [2]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

### Print the first 10 rows of the data.

In [3]:
cars.head(10)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0

### Print the last 5 rows.

In [4]:
cars.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### By using the info method, check how many non-null rows each column have.

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [6]:
cars.dropna(how = 'any', inplace = True)

In [7]:
# .to_string() is a trick to get a nicer plot. 
print(cars.to_string())

    index        company   body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
0       0    alfa-romero  convertible        88.6   168.8        dohc             four         111               21  13495.0
1       1    alfa-romero  convertible        88.6   168.8        dohc             four         111               21  16500.0
2       2    alfa-romero    hatchback        94.5   171.2        ohcv              six         154               19  16500.0
3       3           audi        sedan        99.8   176.6         ohc             four         102               24  13950.0
4       4           audi        sedan        99.4   176.6         ohc             five         115               18  17450.0
5       5           audi        sedan        99.8   177.3         ohc             five         110               19  15250.0
6       6           audi        wagon       105.8   192.7         ohc             five         110               19  18920.0
7       9            bmw        sedan       101.2   176.8         ohc             four         101               23  16430.0
8      10            bmw        sedan       101.2   176.8         ohc             four         101               23  16925.0
9      11            bmw        sedan       101.2   176.8         ohc              six         121               21  20970.0
10     13            bmw        sedan       103.5   189.0         ohc              six         182               16  30760.0
11     14            bmw        sedan       103.5   193.8         ohc              six         182               16  41315.0
12     15            bmw        sedan       110.0   197.0         ohc              six         182               15  36880.0
13     16      chevrolet    hatchback        88.4   141.1           l            three          48               47   5151.0
14     17      chevrolet    hatchback        94.5   155.9         ohc             four          70               38   6295.0
15     18      chevrolet        sedan        94.5   158.8         ohc             four          70               38   6575.0
16     19          dodge    hatchback        93.7   157.3         ohc             four          68               31   6377.0
17     20          dodge    hatchback        93.7   157.3         ohc             four          68               31   6229.0
18     27          honda        wagon        96.5   157.1         ohc             four          76               30   7295.0
19     28          honda        sedan        96.5   175.4         ohc             four         101               24  12945.0
20     29          honda        sedan        96.5   169.1         ohc             four         100               25  10345.0
21     30          isuzu        sedan        94.3   170.7         ohc             four          78               24   6785.0
24     33         jaguar        sedan       113.0   199.6        dohc              six         176               15  32250.0
25     34         jaguar        sedan       113.0   199.6        dohc              six         176               15  35550.0
26     35         jaguar        sedan       102.0   191.7        ohcv           twelve         262               13  36000.0
27     36          mazda    hatchback        93.1   159.1         ohc             four          68               30   5195.0
28     37          mazda    hatchback        93.1   159.1         ohc             four          68               31   6095.0
29     38          mazda    hatchback        93.1   159.1         ohc             four          68               31   6795.0
30     39          mazda    hatchback        95.3   169.0       rotor              two         101               17  11845.0
31     43          mazda        sedan       104.9   175.0         ohc             four          72               31  18344.0
32     44  mercedes-benz        sedan       110.0   190.9         ohc             five         123               22  25552.0
33     45  mercedes-benz        wagon       110.0   190.9         ohc             five         123               22  28248.0
34     46  mercedes-benz        sedan       120.9   208.1        ohcv            eight         184               14  40960.0
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv            eight         184               14  45400.0
36     49     mitsubishi    hatchback        93.7   157.3         ohc             four          68               37   5389.0
37     50     mitsubishi    hatchback        93.7   157.3         ohc             four          68               31   6189.0
38     51     mitsubishi        sedan        96.3   172.4         ohc             four          88               25   6989.0
39     52     mitsubishi        sedan        96.3   172.4         ohc             four          88               25   8189.0
40     53         nissan        sedan        94.5   165.3         ohc             four          55               45   7099.0
41     54         nissan        sedan        94.5   165.3         ohc             four          69               31   6649.0
42     55         nissan        sedan        94.5   165.3         ohc             four          69               31   6849.0
43     56         nissan        wagon        94.5   170.2         ohc             four          69               31   7349.0
44     57         nissan        sedan       100.4   184.6        ohcv              six         152               19  13499.0
45     61        porsche      hardtop        89.5   168.9        ohcf              six         207               17  34028.0
46     62        porsche  convertible        89.5   168.9        ohcf              six         207               17  37028.0
48     66         toyota    hatchback        95.7   158.7         ohc             four          62               35   5348.0
49     67         toyota    hatchback        95.7   158.7         ohc             four          62               31   6338.0
50     68         toyota    hatchback        95.7   158.7         ohc             four          62               31   6488.0
51     69         toyota        wagon        95.7   169.7         ohc             four          62               31   6918.0
52     70         toyota        wagon        95.7   169.7         ohc             four          62               27   7898.0
53     71         toyota        wagon        95.7   169.7         ohc             four          62               27   8778.0
54     79         toyota        wagon       104.5   187.8        dohc              six         156               19  15750.0
55     80     volkswagen        sedan        97.3   171.7         ohc             four          52               37   7775.0
56     81     volkswagen        sedan        97.3   171.7         ohc             four          85               27   7975.0
57     82     volkswagen        sedan        97.3   171.7         ohc             four          52               37   7995.0
58     86     volkswagen        sedan        97.3   171.7         ohc             four         100               26   9995.0
59     87          volvo        sedan       104.3   188.8         ohc             four         114               23  12940.0
60     88          volvo        wagon       104.3   188.8         ohc             four         114               23  13415.0

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB

### Calculate the mean of each numeric column.

In [9]:
cars.mean(numeric_only = True)

index                 40.827586
wheel-base            98.620690
length               173.646552
horsepower           106.051724
average-mileage       25.534483
price              15387.000000
dtype: float64

### Select the rows where the column "company" is equal to 'honda'.

In [10]:
cars.loc[cars['company'] == 'honda']

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [11]:
cars.sort_values('price', ascending = False)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [12]:
cars[cars['company'].isin(['audi', 'bmw', 'porsche'])]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0

### Find the number of cars (rows) for each company.

In [13]:
cars.value_counts('company')

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1
Name: count, dtype: int64

### Find the maximum price for each company.

In [14]:
cars.groupby('company')['price'].max()

# cars.groupby('company')[['price']].max().sort_values(by='price', ascending=False)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64